<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--连接mysql数据库-->
    <bean id="mysqlDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${mysqlDriverClassName}"/>
        <property name="url" value="${mysqlUrl}"/>
        <property name="username" value="${mysqlUsername}"/>
        <property name="password" value="${mysqlPassword}"/>
    </bean>

    <!--通过csv驱动获取数据源-->
    <bean id="csvDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${csvDriverClassName}"/>
        <property name="url" value="${csvUrl}"/>
    </bean>

    <!--连接sqlite数据库-->
    <bean id="sqliteDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${sqliteDriverClassName}"/>
        <property name="url" value="${sqliteUrl}"/>
    </bean>

    <context:component-scan base-package="controller"/>
    <context:component-scan base-package="logger"/>
    <context:component-scan base-package="dao"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <context:property-placeholder location="sql.properties,jdbc.properties"/>

</beans>
